.categoria {
  width: 98%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: auto;
}

.categoria div {
  flex-wrap: wrap;
  width: 100%;
}

.itens {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.categoria div div {
  width: 30%;
}
